<div class="col-lg-6 rightBlock">
	<img src="images/carSmokeCropped.png">
</div>
<div class="col-lg-6 leftBlock">
	<div id="questions">
		<span id="questionText">
			Curious to know how much you contribute to CO2 emissions when you travel?
		</span>
		<div id="actionButtonsWrapper">
			<button type="button" id="checkNowBtn" class="btn"><a ui-sref="survey">Check Now</a></button>
			<button type="button" id="checkLaterBtn" class="btn">Check Later</button>
			<!-- <div class="actionButtons">Check Now!</div>
			<div class="actionButtons">Nah, later..</div> -->
		</div>
	</div>
</div>